<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>API_KEY</key>
	<string>AIzaSyAYWC43xzl3oS3HTxbB9yYp4DsASjH9-gU</string>
	<key>BUNDLE_ID</key>
	<string>com.waverun.DrinkingPoint</string>
	<key>GCM_SENDER_ID</key>
	<string>666348998581</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:666348998581:ios:75eebf7ced365e428e53fc</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>14.3.0</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>drinkingpoint-d355b</string>
	<key>STORAGE_BUCKET</key>
	<string>drinkingpoint-d355b.appspot.com</string>
</dict>
</plist>
